__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

.venv/
venv/
ENV/

*.log

runs/
Vehicle_classification.v1/
Vehicle_classification.*/
train_augmented/
train_augmented*/

results/*.pt
weights/

